/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300;400;500;600&display=swap');

/* ================ VARIABLES CSS ================ */
:root{
    --header-height: 14.5rem;

    /* ================ COLOR ================= */
    --dark-green-color: #3BB77E;
    --light-green-color: #DEF9EC;
    --gray-color: #7E7E7E;
    --black-color: #000;
    --white-color: #fff;

    /* =============== Font and typography =================*/
    /* .5rem = 8px | 1rem = 16px */
    --font-lato: 'Lato', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
    --biggest-font-size: 4.5rem;        /*72px*/
    --bigger-font-size: 2.5rem;         /*40px*/
    --h1-font-size: 2rem;               /*32px*/
    --h2-font-size: 1.5rem;             /*24px*/
    --h3-font-size: 1.125rem;           /*18px*/
    --normal-font-size: 1rem;           /*16px*/
    --footer-font-size: .9375rem;       /*15px*/
    --small-font-size: .875rem;         /*14px*/
    --smaller-font-size: .8125rem;      /*13px*/
    --tiny-font-size: .75rem;           /*12px*/

    /* =============== Font weight ================= */
    --font-medium: 500;
    --font-semibold: 600;
    
    /* =============== z index ================= */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/* Responsive typography */
@media screen and (max-width: 1024px) {
    :root{
        --biggest-font-size: 2.875rem;        /*46px*/
        --bigger-font-size: 1.375rem;         /*22px*/
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.125rem;
    }
}

@media screen and (max-width: 420px) {
    :root{
        --biggest-font-size: 2rem;        /*32px*/
        --bigger-font-size: 1rem;         /*16px*/
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.125rem;
    }
}

/* ================== BASE ================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body,
button,
input,
textarea{
    color: var(--white-color);
    font-family: var(--font-quicksand);
    font-size: var(--small-font-size);
}

body{
    background-color: var(--white-color);
    color: var(--black-color);
}

h1,h2,h3{
    color: var(--black-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}
a,i,span{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

b{
    color: var(--dark-green-color);
}

.gap-1{
    display: flex;
    gap: .5rem;
}

.gap-2{
    display: flex;
    gap: 1rem;
}

.gap-3{
    display: flex;
    gap: 1.5rem;
}

.gap-4{
    display: flex;
    gap: 2.5rem;
}

.f-spacebw{
    display: flex;
    justify-content: space-between;
}

.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-col-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-col-5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.grid-row-2{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.mg-0{
    margin: .7rem 0;
}

.mg-1{
    margin: 1.5rem 0;
}

/* CSS */
.wrapper{
    /* max-width: 1300px */
    padding: 10px 0;
}

.header{
    height: var(--header-height);
    font-size: var(--smaller-font-size);
    color: var(--gray-color);
}

.header__top{
    height: auto;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header span{
    padding-right: .5rem;
    border-right: 1px solid var(--gray-color);
    transition: all .3s;
}

.header__top span:last-child{
    border: none;
}

.header__top-left span:hover{
    color: var(--black-color);
    font-weight: var(--font-medium);
}

.header__middle{
    width: 100%;
    height: 125px;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header__middle-left{
    width: 12rem;
    height: inherit;
    display: flex;
    align-items: center;
    /* line-height: 125px; */
}

.header__middle-search{
    width: 43rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 5px;
    font-size: var(--small-font-size);
    padding: 0 1rem;
}

.header__middle-search span{
    font-family: var(--font-quicksand);
    color: var(--black-color);
    font-weight: var(--font-semibold);
}

.header__middle-search span i{
    margin: 0 .6rem;
    font-size: var(--tiny-font-size);
    color: var(--gray-color);
}

.header__middle-search .search{
    border: none;
    outline: none;
    width: 30rem;
    height: 2rem;
    color: var(--black-color);
    padding: 0 .6rem;
}
/* Delete X input/ type=Search */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* ===== */

.header__middle-search .click-search{
    font-size: var(--h3-font-size);
}

/* Header middle right */
.header__middle-right{
    
}

.header__middle-right .child{
    font-family: var(--font-lato);
    font-size: var(--normal-font-size);
    cursor: pointer;
    /* display: flex; */
}

.header__middle-right .child i{
    font-size: var(--h2-font-size);
    color: var(--black-color);
    position: relative;
}

.header__middle-right .child .count-num::after{
    content: "3";
    width: 1.2rem;
    height: 1.2rem;
    background: var(--dark-green-color);
    border-radius: 50%;
    font-size: var(--small-font-size);
    font-family: var(--font-lato);
    color: var(--white-color);
    text-align: center;
    line-height:1.2rem;
    position: absolute;
    top: -.4rem;
    left: 1rem;

}

.header__middle-right .child p{
    margin-top: .3rem;
}

/* End Header Middle CSS */

/* Start Header Bottom CSS */
.header__bottom{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 5rem;
    align-items: center;
    padding: 0 10px;
    font-family: var(--font-quicksand);
    font-size: var(--normal-font-size);
}

.header__bottom-left{
    width: 16rem;
    height: 3rem;
    background: var(--dark-green-color);
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s;
    /* text-align: center; */
    /* line-height: 3rem; */
}

.header__bottom-left:hover{
    background: green;
}

.header__bottom-left .main-categories{
    /* display:flex; */
}

.header__bottom-left .bx-category-alt{
    display: inline-block;
    font-size: var(--h2-font-size);
    /* line-height: 3rem; */
}

.header__bottom-left b{
    color: var(--white-color);
}

.header__bottom-left .fa-angle-down{
    margin: 0 .5rem;
}

.header__bottom-mid{
    color: var(--black-color);
    font-weight: var(--font-semibold);
}

.header__bottom-mid .list-item{
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.header__bottom-mid .list-item:hover{
    color: var(--dark-green-color);
}

.header__bottom-mid .list-item .text{
    display: inline-block;
}

.active{
    color: var(--dark-green-color);
}

.header__bottom-mid .list i:not(:first-child){
    font-size: var(--tiny-font-size);
    margin-top: .3rem;
}

.bxs-hot{
    font-size: var(--h2-font-size);
}

.header__bottom-right i{
    font-size: var(--h1-font-size);
    color: var(--black-color);
}

.number-phone b{
    font-size: var(--h2-font-size);
}

.number-phone p{
    font-size: var(--tiny-font-size);
    font-family: var(--font-lato);
    color: var(--gray-color);
}
/* End Header Bottom CSS */













/* CSS START FOOTER */
.footer{
    padding: 10px;
}

.footer__top{
    gap: 1.5rem;
}

.footer__top .child{
    display: grid;
    gap: .6rem;
    font-size: var(--footer-font-size);
    font-family: var(--font-lato);
}

.footer__top .child .logo{
    width: 12rem;
}

.footer__top .child .subtitle {
    font-size: var(--normal-font-size);
}

.footer__top .child .child-item i{
    font-size: var(--footer-font-size);
}

.footer__top .child .title{
    font-family: var(--font-quicksand);
    font-size: var(--h2-font-size);
}

.footer__top .child a{
    color: var(--black-color);
    transition: all .3s;
}

.footer__top .child a:hover{
    color: var(--dark-green-color);
    padding-left: 5px;
}

.footer__top .child:last-child .download{
    
}

/* Footer bottom */
.footer__bottom{
    height: 6rem;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid rgba(0,0,0,.3)
}

.footer__bottom-left{
    font-family: var(--font-lato);
}

.footer__bottom-mid .phone{
    display: flex;
    align-items: center;
}

.footer__bottom-mid .phone i{
    font-size: var(--h2-font-size);
    transform: rotate(-30deg);
}

.footer__bottom-right .text{
    font-family: var(--font-lato);
    font-family: var(--font-lato);
    color: var(--gray-color);
}

.footer__bottom-right .socials{
    display: flex;
}

.footer__bottom-right h3{
    margin-right: 1rem;
    line-height: 2rem;
}

.social-icon li{
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background: var(--dark-green-color);
    border-radius: 50%;
}

.social-icon li a{
    color: var(--white-color);
    font-size: var(--small-font-size);
}
/* CSS END FOOTER */

@media screen and (max-width: 1395px){
    .gap-4{
        gap: 1rem;
    }
    .header__bottom{
        gap: 1rem;
    }
    .header__bottom-left{
        width: 17rem;
    }
}

@media screen and (max-width: 1245px){
    .header__middle-search .search {
        width: 27rem;
    }
}